.post-editor,
.post-body {
	margin: 1em 20%;
	border-bottom: 1px solid grey;
}

.post-editor-button {
	float: right;
	margin-top: 1em;
}

@media (max-width: 900px) {
	.post-editor {
		margin: 0;
	}

	.post-body {
		margin: 1em;
	}
}